*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #7DE2D1;
  color: black;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 5rem;
}

form {
  background: #7DE2D1;
  color: black;
  width: 20rem;
  margin-inline: auto;
}